@import "https://fonts.googleapis.com/css?family=Oswald:400,700,900|Playfair+Display:400,700,900";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: #111;
  overflow-x: hidden;
}

.vignette {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  box-shadow: 0 0 350px black inset;
}

.stars:before, .stars:after {
  content: "";
  position: absolute;
  background: url("../img/stars.png") repeat-x;
  background-size: contain;
  background-position: center;
  -webkit-animation: stars 60s linear infinite;
          animation: stars 60s linear infinite;
  width: 300vw;
  height: 100vh;
  z-index: -2;
}

@media (max-width: 768px) {
  .stars:before, .stars:after {
    background-size: cover;
  }
}
.section {
  position: relative;
}
.section__inner:nth-child(odd) {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  opacity: 0;
  animation: fade-in 2s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 3.2s;
}
.section__inner:nth-child(even) {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  opacity: 0;
  animation: fade-in 2s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 3.2s;
  position: absolute;
  right: 60px;
}
.section__content {
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}
.section__content-label {
  position: relative;
  margin: 0 120px 20px;
  font-size: 14px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  line-height: 1;
}
.section__content-label:before {
  position: absolute;
  content: "";
  top: 50%;
  left: -120px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100px;
  height: 2px;
  background: #fff;
}

.title {
  font-family: Oswald, "Playfair Display", serif;
  color: #fff;
  font-size: 72px;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 1.3;
  width: 480px;
}
@media (max-width: 768px) {
  .title {
    font-size: 46px;
    line-height: 1.2;
  }
}

.subtitle {
  color: #fff;
  font-size: 24px;
  font-family: "Playfair Display", serif;
  font-weight: 300;
  line-height: 1.6;
  letter-spacing: 1px;
  opacity: 0.7;
}
@media (max-width: 768px) {
  .subtitle {
    font-size: 20px;
    margin-top: 15px;
    line-height: 1.4;
  }
}

.buttons_group {
  display: flex;
  margin-top: 40px;
}

.button {
  position: relative;
  width: auto;
  max-width: 270px;
  padding: 15px 35px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 100;
  letter-spacing: 2px;
  cursor: pointer;
  border: 1px solid #fff;
  transition: color 0.4s ease-in-out;
}
.button:hover {
  color: #111;
}
.button:before {
  content: "";
  position: absolute;
  background: #fff;
  bottom: 0;
  left: 0;
  right: 100%;
  top: 0;
  z-index: -1;
  transition: right 0.4s ease-in-out;
}
.button:hover:before {
  right: 0;
}
@keyframes load {
	0% {
		height: 0vh;
	}
	100% {
		height: 100vh;
	}
}
.vertical-lines {
  position: absolute;
  display: flex;
  flex-direction: row;
  height: 100vw;
  width: 100vw;
  z-index: -1;
}

.vertical-lines div {
  height: 0vw;
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
}
.vertical-lines div:nth-child(1) {
  animation: load 2s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 1.6s;
}
.vertical-lines div:nth-child(2) {
  animation: load 2s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 1.8s;
}
.vertical-lines div:nth-child(3) {
  animation: load 2s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}
.vertical-lines div:nth-child(4) {
  animation: load 2s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 2.2s;
}
.vertical-lines div:nth-child(5) {
  animation: load 2s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 2.4s;
}
.vertical-lines div:nth-child(6) {
  animation: load 2s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 2.6s;
}
.vertical-lines div:nth-child(7) {
  border: none;
}

@media (max-width: 768px) {
  .vertical-lines div {
    border-right: 0;
  }
}

.logo {
  position: fixed;
  display: block;
  left: 20px;
  top: 20px;
}
.loading {
  background: #111;
  width: 100%;
  height: 100%;
  position: absolute;
  content: '';
  z-index: 2;
  opacity: 1;
  transition: opacity 0.4s ease-in-out;
  visibility: visible;
  transition-duration: 2.5s;
}

.loading__text {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  font-family: 'Playfair Display', serif;
  color: rgba(255, 255, 255, 0.6);
  letter-spacing: 6px;
  font-size: 42px;
}
.space {
  position: absolute;
  display: block;
  width: 25rem;
  left: 50%;
  top: 20%;
  height: 25rem;
  border: red;
  -webkit-animation: float 6s ease-in-out infinite;
          animation: float 6s ease-in-out infinite;
}
@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@-webkit-keyframes stars {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-200vw, 0, 0);
            transform: translate3d(-200vw, 0, 0);
  }
}

@keyframes stars {
  0% {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(-100vw, 0, 0);
            transform: translate3d(-100vw, 0, 0);
  }
}
@-webkit-keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-15px);
            transform: translatey(-15px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}

@keyframes float {
  0% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
  50% {
    -webkit-transform: translatey(-15px);
            transform: translatey(-15px);
  }
  100% {
    -webkit-transform: translatey(0px);
            transform: translatey(0px);
  }
}
