@import "https://fonts.googleapis.com/css?family=Oswald:400,700,900|Playfair+Display:400,700,900";
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  background: #111;
  overflow: hidden;
}

.vignette {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  box-shadow: 0 0 350px black inset;
}

.stars:before, .stars:after {
  content: "";
  position: absolute;
  background: url("http://cdn130.picsart.com/245512160036212.png") repeat-x;
  background-size: contain;
  background-position: center;
  -webkit-animation: stars 60s linear infinite;
          animation: stars 60s linear infinite;
  width: 300vw;
  height: 100vh;
  z-index: -2;
}

@media (max-width: 768px) {
  .stars:before, .stars:after {
    background-size: cover;
  }
}
.section {
  position: relative;
}
.section__inner {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
  opacity: 0;
  animation: fade-in 2s ease-in-out;
  animation-fill-mode: forwards;
  animation-delay: 3.2s;
}
@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.section__content-label {
  position: relative;
  margin: 0 120px 20px;
  font-size: 14px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  line-height: 1;
}
.section__content-label:before {
  position: absolute;
  content: "";
  top: 50%;
  left: -120px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100px;
  height: 2px;
  background: #fff;
}
.title {
  font-family: Oswald, "Playfair Display", serif;
  color: #fff;
  font-size: 72px;
  font-weight: 300;
  letter-spacing: 2px;
  line-height: 1.3;
}
